<!--Author: Brody Willard-->
<!--Date:12/6/19-->
<!--Description: main handlebar page for web application-->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Workout Tracker</title>
    <style>
        td {
            background-color: whitesmoke;
        }
    </style>
</head>
<body style="background-color:lightgray; font-family: Arial">
    {{{body}}}
</body>
</html>
