<!--Author: Brody Willard-->
<!--Date:11/17/19-->
<!--Description: layout page for web application-->

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>GET and POST checker</title><!--adds title to page-->
    <style>
        body {
            font-family: Arial; /*sets font family*/
            background-color: darkgray; /*sets background color*/
        }

        h1 {
            font-weight: bolder; /*sets font weight*/
            text-decoration: underline; /*addes underline to text*/
            display: flex;/*sets display to flex*/
            justify-content:center;/*centers content*/
        }

        label {
            font-weight: bolder; /*sets font weight*/
            text-decoration: underline; /*addes underline to text*/
            font-size:22px;/*set font size*/
        }

        div {
            background-color: lightgray; /*sets background color of div*/
            padding: 10px; /*adds padding*/
        }

        li {
            font-size: 20px; /*sets font size to 12px*/
        }
    </style>
</head>
<body>
    {{{body}}} <!--allows information to be imported to body through handlebars-->
</body>
</html>
